.container7{
    height: auto;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(2, 1, 49, 1);

    
    .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 60%;
        padding: 0%;
        /* background-color: rgba(249, 249, 249, 0.97); */
        background-color: rgba(249, 249, 249, 0.97);
        ;
        .heading{
            .head{
                width: 87px;
                height: 40px;
                top: 121px;
                left: 678px;
                font-family: Plus Jakarta Sans;
                font-size: 32px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.03em;
                text-align: left;

            }
        }
        .bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .steps{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .con{
                    width: 100%;
                    .step{
                        display: flex;
                        width: 544px;
                        
                        .num{
                            font-family: Plus Jakarta Sans;
                            

                        }
                    }
                    .text{
                        transition: all 3S ;
                        display: none;
                    }
                }
            }
        }
    }
}

.textShow{
    transition: all 3ms linear;
    width: 544px;
    height: fit-content;
    padding: 15px 0px 15px 38px;
    border-radius: 2px;
    border: 0px 0px 0px 4px;
    color: rgba(103, 103, 131, 1);
    background-color: rgba(20, 22, 28, 0.1);
    border-left: 4px solid rgba(2, 1, 49, 0.1);
    box-shadow: 5px 5px 10px inset;
    justify-content: center;
    .inner{
        width: 462px;
        height: fit-content;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;
        padding-left: 5%;
        box-shadow: 5px 5px 10px inset;
    }
    display: block;
}

